<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Wanheda Studio</title>

    <link rel="stylesheet" href="../css/login.css">

</head>

<body>

<div class="background"></div>

<div class="login-container">

    <div class="left">

        <img
            class="logo"
            src="../../assets/images/wanheda-logo.png"
            alt="Wanheda Studio">

        <h1>

            WANHEDA

        </h1>

        <h2>

            STUDIO

        </h2>

        <p class="description">

            Launcher oficial de Wanheda Studio

        </p>

    </div>



    <div class="right">

        <div class="login-box">

            <div class="login-header">

                <h3>

                    Iniciar sesión

                </h3>

                <p>

                    Ingresa con la cuenta creada por el administrador.

                </p>

            </div>



            <div id="login-panel">

                <input
                    id="nick"
                    autocomplete="off"
                    placeholder="Nick de Minecraft">

                <input
                    id="password"
                    type="password"
                    placeholder="Contraseña">

                <button id="login">

                    ACCEDER

                </button>

            </div>



            <div class="login-status">

                <span class="status-dot"></span>

                <p id="status">

                    Esperando acceso...

                </p>

            </div>

        </div>

    </div>

</div>



<div class="footer">

    <span>

        Wanheda Studio Launcher

    </span>

    <span>

        v1.0.0

    </span>

</div>

<script src="../js/login.js"></script>

</body>

</html>