<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>
Wanheda Studio
</title>


<link rel="stylesheet" href="../css/splash.css">

</head>



<body>


<div class="background"></div>



<div class="splash">



    <div class="logo">



        <img
            src="../../assets/images/wanheda-logo.png"
            class="logo-image"
            alt="Wanheda Studio"
        >



        <h1>
            WANHEDA
        </h1>



        <h2>
            STUDIO
        </h2>



        <div class="line"></div>


    </div>





    <div class="loader">


        <div class="spinner">


        </div>


    </div>






    <p id="status">
        Iniciando sistema...
    </p>





    <div class="bottom">


        <span>
            WANHEDA STUDIO LAUNCHER
        </span>


        <span>
            v1.0.0
        </span>


    </div>



</div>





<script src="../js/splash.js"></script>


</body>

</html>